<%= form_for @post do |f|%>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name, :class => "boxname" %>
	</p>
	
	<p>
		<%= f.label :quote %><br>
		<%= f.text_area :quote, :class => "boxquote"%>
	</p>

	<p>
		<%= f.label :picture %><br>
		<%= f.file_field :picture %>
	</p>
	
	<p>
		<%= f.submit %> 
	</p>

<% end %>