<h1>Posts</h1>
 
<% @posts.in_groups_of(3) do |group| %>
		<% group.compact.each do |post| %>
			<div class="span4">
				<%= link_to post.name, post%>
				<p><%= image_tag post.picture_url, :width => '25%' if post.picture.present? %>
				</p>
				
				<p>
				<%= post.quote %>
				</p>
				
				<p>
				<%= link_to 'Edit', edit_post_path(post) %>
				</p>

				<p>
				<%= link_to 'Delete', post_path(post),
								method: :delete, data: { confirm: 'Are you sure?' } %>
				</p>
				
			</div>
		<% end %>
<% end %>