<p>
	<strong>Name:</strong>
	<%= @post.name %>
</p>

<p>
	<strong>Quote:</strong>
	<%= @post.quote %>
</p>

<p>
	<strong>Picture:</strong>
	<%= image_tag(@post.picture_url, :width => 600) if @post.picture.present? %>
</p>

	<h2>Comments</h2>
	<%= render 'comments/comment' %>
	

	<h2>Add a Comment</h2>
	<%= render 'comments/form' %>
	