<p>
	<center><h1><%= @post.name %></h1></center>
</p><br>

<p>
	<center><%= image_tag(@post.picture_url, :width => 500) if @post.picture.present? %></center>
</p><br>

<p>
	<center><h3><%= @post.quote %></h3></center>
</p>
<hr>

	<h2>Comments</h2>
	<%= render 'comments/comment' %>
	

	<h2>Add a Comment</h2>
	<%= render 'comments/form' %>
	